chromadb==0.4.23
langchain_openai==0.0.7
weaviate-client
langchain-experimental==0.0.52
langchain-openai==0.0.7
sentence-transformers==2.4.0
faiss-cpu==1.7.4
rank_bm25==0.2.2
plotly==5.19.0
nbformat==4.2.0
tiktoken==0.6.0
matplotlib==3.8.3
scikit-learn==1.4.1.post1
langchain